In [3]:
import pandas as pd
series_test = pd.Series([100, 200, 300])
series_test

0    100
1    200
2    300
dtype: int64

In [6]:
series_test2 = pd.Series({1999: 48,
                         2000: 65,
                         2001: 89})
series_test2

1999    48
2000    65
2001    89
dtype: int64

In [10]:
frame_test = pd.DataFrame({1995: [74, 35 ,45],
                           2001: [23, 12 ,78],
                           2008: [14,65,34]})
frame_test

   1995  2001  2008
0    74    23    14
1    35    12    65
2    45    78    34

In [25]:
frame_test = pd.DataFrame ([[74, 35 ,45],
                           [23, 12 ,78],
                           [14,65,34]], columns=[1995, 2000, 2005 ])
frame_test

   1995  2000  2005
0    74    35    45
1    23    12    78
2    14    65    34

In [89]:
#read data

pd.options.display.max_rows = 10
el_universal = pd.read_csv('/home/juan/Documents/web_scrapper/eluniversal_2020_10_08_articles.csv')


type(el_universal)


el_universal

,body,title,url
0,\nNos comentan que luego de que Jaime Cárdenas...,NaN,https://www.eluniversal.com.mx/nacion/bajo-res...
1,\nUna especie recientemente descubierta de din...,NaN,https://www.eluniversal.com.mx/ciencia-y-salud...
2,\nSimpatizantes del presidente Andrés Manuel L...,NaN,https://www.eluniversal.com.mx/nacion/frenaaa-...
3,"\n\nDesde Nuevo León, nos cuentan que cuando t...",NaN,https://www.eluniversal.com.mx/estados/otra-de...
4,\nEl Horario de Verano está próximo a terminar...,NaN,https://www.eluniversal.com.mx/cartera/telecom...
5,"\nA través de redes sociales, el presidente An...",NaN,https://www.eluniversal.com.mx/nacion/amlo-bea...

In [88]:
semana = pd.read_csv('/home/juan/Documents/web_scrapper/semana_2020_10_08_articles.csv')
semana

,body,title,url
0,¿Cuáles son las probabilidades de contagio e...,NaN,https://www.semana.com/confidenciales/articulo...
1,¿Cuáles son las probabilidades de contagio e...,NaN,https://www.semana.com/confidenciales/articulo...
2,"La pandemia, un impulso para la digitalizació...",NaN,https://www.semana.com/especiales-editoriales/...
3,¿Cuáles son las probabilidades de contagio e...,NaN,https://www.semana.com/confidenciales/articulo...
4,Cada vez más locales aparecen con avisos de '...,NaN,https://www.semana.com/especiales-editoriales/...
5,¿Cuáles son las probabilidades de contagio e...,NaN,https://www.semana.com/confidenciales/articulo...
6,¿Cuáles son las probabilidades de contagio e...,NaN,https://www.semana.com/confidenciales/articulo...
7,¿Cuáles son las probabilidades de contagio e...,NaN,https://www.semana.com/confidenciales/articulo...
8,¿Cuáles son las probabilidades de contagio e...,NaN,https://www.semana.com/confidenciales/articulo...

In [95]:
#index dictionary like:

el_universal[['url','body']]

,url,body
0,https://www.eluniversal.com.mx/nacion/bajo-res...,\nNos comentan que luego de que Jaime Cárdenas...
1,https://www.eluniversal.com.mx/ciencia-y-salud...,\nUna especie recientemente descubierta de din...
2,https://www.eluniversal.com.mx/nacion/frenaaa-...,\nSimpatizantes del presidente Andrés Manuel L...
3,https://www.eluniversal.com.mx/estados/otra-de...,"\n\nDesde Nuevo León, nos cuentan que cuando t..."
4,https://www.eluniversal.com.mx/cartera/telecom...,\nEl Horario de Verano está próximo a terminar...
5,https://www.eluniversal.com.mx/nacion/amlo-bea...,"\nA través de redes sociales, el presidente An..."

In [99]:
#numpy like

el_universal.iloc[1:3]

,body,title,url
1,\nUna especie recientemente descubierta de din...,NaN,https://www.eluniversal.com.mx/ciencia-y-salud...
2,\nSimpatizantes del presidente Andrés Manuel L...,NaN,https://www.eluniversal.com.mx/nacion/frenaaa-...

In [104]:
el_universal.iloc[3]['url']

'https://www.eluniversal.com.mx/estados/otra-de-don-samuel-ahora-le-dan-olimpicamente-el-avion'

In [106]:
el_universal.iloc[:5, 0]

0    \nNos comentan que luego de que Jaime Cárdenas...
1    \nUna especie recientemente descubierta de din...
2    \nSimpatizantes del presidente Andrés Manuel L...
3    \n\nDesde Nuevo León, nos cuentan que cuando t...
4    \nEl Horario de Verano está próximo a terminar...
Name: body, dtype: object

In [109]:
el_universal.loc[:,'body' : 'title'] # : singinifca quiero todas las filas

                                                body  title
0  \nNos comentan que luego de que Jaime Cárdenas...    NaN
1  \nUna especie recientemente descubierta de din...    NaN
2  \nSimpatizantes del presidente Andrés Manuel L...    NaN
3  \n\nDesde Nuevo León, nos cuentan que cuando t...    NaN
4  \nEl Horario de Verano está próximo a terminar...    NaN
5  \nA través de redes sociales, el presidente An...    NaN

In [111]:
# data wrangling añadir nespaper_ud al data frame

el_universal['newspaper_uid'] = 'eluniversal'

el_universal

,body,title,url,newspaper_uid
0,\nNos comentan que luego de que Jaime Cárdenas...,NaN,https://www.eluniversal.com.mx/nacion/bajo-res...,eluniversal
1,\nUna especie recientemente descubierta de din...,NaN,https://www.eluniversal.com.mx/ciencia-y-salud...,eluniversal
2,\nSimpatizantes del presidente Andrés Manuel L...,NaN,https://www.eluniversal.com.mx/nacion/frenaaa-...,eluniversal
3,"\n\nDesde Nuevo León, nos cuentan que cuando t...",NaN,https://www.eluniversal.com.mx/estados/otra-de...,eluniversal
4,\nEl Horario de Verano está próximo a terminar...,NaN,https://www.eluniversal.com.mx/cartera/telecom...,eluniversal
5,"\nA través de redes sociales, el presidente An...",NaN,https://www.eluniversal.com.mx/nacion/amlo-bea...,eluniversal

In [115]:
# obtener host

from urllib.parse import urlparse

el_universal['host'] = el_universal['url'].apply(lambda url: urlparse(url).netloc)

el_universal

,body,title,url,newspaper_uid,host
0,\nNos comentan que luego de que Jaime Cárdenas...,NaN,https://www.eluniversal.com.mx/nacion/bajo-res...,eluniversal,www.eluniversal.com.mx
1,\nUna especie recientemente descubierta de din...,NaN,https://www.eluniversal.com.mx/ciencia-y-salud...,eluniversal,www.eluniversal.com.mx
2,\nSimpatizantes del presidente Andrés Manuel L...,NaN,https://www.eluniversal.com.mx/nacion/frenaaa-...,eluniversal,www.eluniversal.com.mx
3,"\n\nDesde Nuevo León, nos cuentan que cuando t...",NaN,https://www.eluniversal.com.mx/estados/otra-de...,eluniversal,www.eluniversal.com.mx
4,\nEl Horario de Verano está próximo a terminar...,NaN,https://www.eluniversal.com.mx/cartera/telecom...,eluniversal,www.eluniversal.com.mx
5,"\nA través de redes sociales, el presidente An...",NaN,https://www.eluniversal.com.mx/nacion/amlo-bea...,eluniversal,www.eluniversal.com.mx

In [117]:
el_universal['host'].value_counts()  #cuenta los diferentes dominios que aportan a la página el universal

www.eluniversal.com.mx    6
Name: host, dtype: int64

In [125]:
#missing data rellenar datos faltantes 

missing_title_mask = el_universal['title'].isna()
missing_titles = (el_universal[missing_title_mask]['url']
    .str.extract(r'(?P<missing_titles>[^/]+)$')
    .applymap(lambda title: title.split('-'))
    .applymap(lambda title_word_list: ' '.join(title_word_list)))

missing_titles